                    <!-- START WIDGETS -->                    
                    <div class="row">

                        <div class="col-md-4">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon">
                                <div class="widget-item-left">
                                    <span class="fa fa-envelope"></span>
                                </div>                             
                                <div class="widget-data">
                                    <div class="widget-int num-count">3</div>
                                    <div class="widget-title">MENSAJES</div>
                                    <div class="widget-subtitle">Sin leer</div>
                                </div>      
                            </div>                            
                            <!-- END WIDGET MESSAGES -->
                            
                        </div>
                        <div class="col-md-4">
                            
                            <!-- START WIDGET REGISTRED -->
                            <div class="widget widget-default widget-item-icon" ng-click="main.goToNegocios()">
                                <div class="widget-item-left">
                                    <span class="fa fa-briefcase"></span>
                                </div>
                                <div class="widget-data">
                                    <div class="widget-int num-count">204</div>
                                    <div class="widget-title">SEGUIDORES</div>
                                    <div class="widget-subtitle">De tus negocios</div>
                                </div>                          
                            </div>                            
                            <!-- END WIDGET REGISTRED -->
                            
                        </div>
                        <div class="col-md-4">
                            
                            <!-- START WIDGET CLOCK -->
                            <div class="widget widget-info widget-padding-sm">
                                <div class="widget-big-int plugin-clock">00:00</div>                                                     
                                <div class="widget-buttons widget-c3">
                                    <div class="col">
                                        <a ><span class=""></span></a>
                                    </div>
                                    <div class="col">
                                        <a ng-click="main.goToEventos()"><span class="fa fa-bell"></span></a>
                                    </div>
                                    <div class="col">
                                        <a ><span class=""></span></a>
                                    </div>
                                </div>                            
                            </div>                        
                            <!-- END WIDGET CLOCK -->
                            
                        </div>
                    </div>
                    <!-- END WIDGETS -->                    
                                      
           
                <!-- Mapa -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>MIS NEGOCIOS</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="width: 100%">                        
                               <div id="map" style="height: 400px;"></div>
                            </div>                                                
                        </div>   
                    </div>
                  </div>
           
           
