<!-- Css de la vista -->
<style>
    .name-user{
      color:#EDAE02;
    }
    .color-aprobado{
        background-color:#FFBF00;
        color:#fff;
    }
    .color-aprobado .name-user{
      color:#fff;
    }
</style>
<br>
<div class="row">
   <div class="col-md-1-12">
     <div class="panel panel-default">
       <div class="panel-body">
          <div class="col-md-2">
              <strong>Username:</strong>
          </div>
          <div class="col-md-10">
              {{viewModalPlaceUser.data.item.username}}
          </div>
          <div class="col-md-2">
              <strong>Places:</strong>
          </div>
          <div class="col-md-10">
            <p>
              <span class="badge badge-success">{{viewModalPlaceUser.verificados}}</span>
              <span class="badge badge-danger">{{viewModalPlaceUser.numPlace}}</span>
            </p>
          </div>
       </div>
     </div>
   </div>
</div>

<div class="row">
    <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
               <form class="form-horizontal">
                 <div class="col-md-3">
                   <div class="form-group">
                     <label class="col-md-2 control-label">Tipo:</label>
                     <div class="col-md-10">
                       <select class="form-control" ng-model="viewModalPlaceUser.selctVerify" ng-options="item.name for item in viewModalPlaceUser.listVerify  track by item.id" >  </select>
                     </div>
                   </div>
                 </div>
                  <div class="col-md-6">
                    <div class="input-group">
                       <span class="input-group-addon">
                         <span class="fa fa-search"></span>
                       </span>
                       <input class="form-control" placeholder="Buscar Place"  type="text" ng-model="searchList">
                    </div>
                  </div>
                </form>
            </div>
          </div>
    </div>
</div>

<!-- Dibujamos los  Place asignados -->
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="itemPlace in viewModalPlaceUser.listPlace | filter:{place:{statusId: viewModalPlaceUser.selctVerify.id}}  | filter:searchList ">
    <div class="panel panel-default">
      <div class="panel-body profile">
          <div class="profile-image">
            <!-- IMAGEN -->
            <img ng-src="{{itemPlace.place.principalUrl}}" width="100px" height="100px">
          </div>
          <div class="profile-data">
            <div class="profile-data-name ng-binding">{{ itemPlace.place.name }}</div>
            <div class="profile-data-title ng-binding">{{ itemPlace.place.categories[0].name}}</div>
          </div>
          <div class="profile-controls">
              <a class="profile-control-left">
                <span class="{{itemPlace.place.categories[0].icon}}"></span>
              </a>
              <a class="profile-control-right" ng-click="viewModalPlaceUser.viewPlace(itemPlace)">
                <span class="ion ion-eye"></span>
              </a>
          </div>

      </div>
      <div class="panel-body {{(itemPlace.place.statusId =='00') ? '' :'color-aprobado'}}" >
        <div class="contact-info">
          <div class=" col-sm-8 col-md-8" class="color-aprobado">
            <p class="ng-binding">
            <span class="name-user"><strong>{{ itemPlace.place.user.username}}</strong></span>
            <br>
            <small>Creado</small>
            <br>
            {{ itemPlace.place.created | date : "dd/MM/yy h:mm a " }}
            <br>
            <small>Ultima modificación</small>
            <br>
            {{ itemPlace.place.lastUpdated | date : "dd/MM/yy h:mm a " }}
            </p>
          </div>
          <div class="col-sm-4 col-md-4" >
            <button type="button" name="button" class="btn btn btn-success" ng-show="itemPlace.place.statusId =='00'" ng-click="viewModalPlaceUser.verifyPlace(itemPlace)">Aprobar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
