<div class="login-container">
        
            <div class="login-box">
                <div class="animated bounceInDown" style="display: flex; justify-content: center;">
                    <img src="../../../img/logo.png" style="height: 140px;">
                </div>
                <div class="login-body">
                    <div class="login-title"><strong>Bienvenido</strong>, Ingresa tus datos</div>
                    <form  class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" ng-model="login.data.email" class="form-control" placeholder="Correo electrónico"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" ng-model="login.data.password" class="form-control" placeholder="Contraseña"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">¿Has olvidado tu contraseña?</a>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="login.auth()" class="btn btn-info btn-block">Ingresar</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 Urbamapp
                    </div>
                    <div class="pull-right">
                        <!--a href="#">Nosotros</a> | -->
                        <a href="#">Terminos y Condiciones</a> |
                        <a href="#">Privacidad</a>
                    </div>
                </div>
            </div>    
        </div>


        <!-- warning -->
        <div class="message-box message-box-warning animated fadeIn" id="message-box-warning">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-warning"></span> {{ login.error.titulo }} </div>
                    <div class="mb-content">
                        <p> {{ login.error.mensaje }} </p>                  
                    </div>
                    <div class="mb-footer">
                        <button class="btn btn-default btn-lg pull-right mb-control-close">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end danger -->